header {
  background-color: #333;
  color: #a3a375;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
    font-family: 'Arial', sans-serif;
}

.logo img {
  position:fixed;
	height:auto;
	left:30px;
	width:90px;
	height:90px;
	top:1px;
	margin:10px;
}

.navigation{
	position:relative;
}
.navigation-items a{
	position:relative;
	color:#fff;
	font-size:1em;
	font-weight:500;
	text-decoration:none;
	margin-left:20px;
	transition:0.3s ease;
}
.navigation-items a:before{
	content:'';
	position:absolute;
	background:#fff;
	width:0;
	height:2px;
	bottom:0;
	left:0;
	transition:0.3s ease;
	margin-right:10px;
}
.navigation-items a:hover:before{
	width: 100%;
	background:#fff;
	
}