/* style.css */
body {
    font-family: Arial, sans-serif;
    background:url(Images/term3.jpg);
	  background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"], form input[type="reset"] {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #0056b3;
}

form input[type="hidden"] {
    display: none;
}

form input[type="submit"][name="delete"] {
    background-color: #dc3545;
}

form input[type="submit"][name="delete"]:hover {
    background-color: #c82333;
}

form input[type="text"][name="searchnic"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"][name="search"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"][name="search"]:hover {
    background-color: #1e7e34;
}
